
.item1 { grid-area: head; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'head'  ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;

}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}

.grid-container-two {
  display: grid;
  grid-template-areas:

    'menu  main'

  ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;

}

.grid-container-two > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}

.grid-container-three {
  display: grid;
  grid-template-areas:

    'right footer'

  ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;

}

.grid-container-three > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}
