

p {
	color: darkkhaki;
}

a {
	color: lightcoral;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.item1 { grid-area: head; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: left; }
.item5 { grid-area: footer;}
.item6 { grid-area: xxx;}
/* .item6 ( grid-area: right;) */

.grid-container {
  display: grid;
  grid-template-areas:
    'head head head head head head'  ;
  grid-gap: 5px;
  background-color: #30123b;
  padding: 10px;


}
.grid-container > div {
  background-color: rgba(0, 0, 0, 4);
  color: darkkhaki;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;

}



.grid-container-two {
  display: grid;
  grid-template-areas:

    'menu menu menu main main  main'

  ;
  grid-gap: 10px;
  background-color: #30123b;
  padding: 10px;
  

}


.grid-container-two > div {
  background-color: rgba(0, 0, 0, 4);
  text-align: center;
  padding: 5px 0;
  font-size: 30px;

}



.grid-container-three {
  display: grid;
  grid-template-areas:

 'left left footer footer xxx xxx'

  ;
  grid-gap: 5px;
  background-color: #30123b;
  padding: 30px;

}

.grid-container-three > div {
	  grid-template-columns: auto auto auto;
  background-color: rgba(0, 0, 0, 4);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;

}
