
.item1 { grid-area: head; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: left; }
.item5 { grid-area: footer;}
.item6 { grid-area: xxx;}
/* .item6 ( grid-area: right;) */

.grid-container {
  display: grid;
  grid-template-areas:
    'head head head head head head'  ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;

}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}

.grid-container-two {
  display: grid;
  grid-template-areas:

    'menu menu menu main main  main'

  ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  

}


.grid-container-two > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}

.grid-container-three {
  display: grid;
  grid-template-areas:

 'left left footer footer xxx xxx'

  ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;

}

.grid-container-three > div {
	  grid-template-columns: auto auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}
